
/* Layout */

html {
    height:100%;
    font-family: 'Merriweather', serif;
    color:#666;
    background-color:#fff;
    margin:0;

}
body{
    padding:50px 0 0 100px;
}
header{
    font-family: 'Merriweather Sans', sans-serif;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    border-bottom:3px #f60 solid;
    background:#fff;
    z-index:2;
}
menu {
    width:99px;
    text-align: center;
    background-color:#f0f0f0;
    height:100%;
    position:fixed;
    left:0;
    top:50px;
    border-top:3px #f60 solid;
    border-right:1px dashed #999;
    padding:0;
    font-size:85%;
    margin:0;
}

article {
    float:left;
    padding:30px;
    width:60%;
    margin:10px 0 0 0;
    max-width:1024px;
}
aside {
    float:left;
    line-height:170%;
    font-size:88%;
    width:35%;
    max-width:500px;
}
section {
    width:100%;
    padding:5px 20px;
    margin:20px 0;
    border: 1px dashed #999;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* Type */

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    color:#f60;
    margin:-20px 0;
    font-size:2.5em;
}
h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size:1.5em;
}
h3 {
    font-family: 'Merriweather Sans', sans-serif;
}
p {
    line-height:200%;
}
pre {
    font-family: 'Merriweather', serif;
    line-height:200%;
}
ul {
    list-style-type:none;
    padding:0;
    margin:0;
}
section ul{
    margin-bottom:15px;
}
menu a{
    color:#666;
}
menu li {
    border-bottom:1px solid #ccc;
    padding:10px 0;
}
menu li:hover{
    background:#fff;
}
menu span {
    display:block;
}
blockquote {
    margin:0 0 20px 0;
    padding-left:10px;
    border-left:3px #ccc solid;
    font-style:italic;
}
blockquote:hover {
    border-left:3px #999 solid;
}
cite:before {
    content: "- ";
}
cite {
    display:block;
    font-weight:bold;
}
.gfind_logo{
    float:left;
}
.gfind_logo_min {
    height:50px;
    width:99px;
    margin-right:30px;
    float:left;
    border-right:1px dashed #999;
    background:url("/public/img/gfind_logo.png") center center no-repeat;
}
.gfind_logo_min:hover{
    border-right:0;
    width:100px;
    background:#f60 url("/public/img/gfind_logo_hover.png") center center no-repeat;
}
.socialbuttons{
    padding:5px 0 20px;
}
img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}
a {
    text-decoration:none;
    color:#f60;
}
a:hover{
    border-bottom:1px dotted #f60;
}
menu a:hover{
    border:none;
}

blockquote a {
    color:#666;
    padding-top:5px; /* Makes it so there is no href line height gap */
}
blockquote a:hover{
    color:#f60;
}

/* Youtube Embed Fluid */

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom:20px;

}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Header search styles */

header label{
    font-weight:bold;
}
header input {
    padding:0 5px;
    height:32px;
    outline:none;
}
header input[type="text"]{
    width:400px;
    height:30px;
    margin:9px 0 9px 9px;
    background:url("/public/img/icons/search.png") right center no-repeat;
    border:#999 1px solid;
}
header input[type="submit"]{
    height:32px;
    margin:0;
    border:none;
    color:#fff;
    background:#f60;
    padding:0 10px;
    font-size:0.9em;
}
header input[type="submit"]:hover{
    background:#f80;
}
.ui-autocomplete {
    width:400px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.ui-autocomplete li{
    list-style-type:none;
    background:#fff;
}
.ui-menu .ui-menu-item a{
    color:#333;
    font-weight:bold;
    display:block;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.ui-menu-item a:hover{
    text-decoration:none;
}
.ui-helper-hidden-accessible{
    display:none;
}
.ui-state-focus{
    background:#ddd;
}

.addthis_toolbox{
    margin-bottom:20px;
}
aside h2{
    display:inline-block;
}
aside p{
    margin-top:0;
}
.widget_edit{
    float:right;
    margin-top:16px;
    background:url("/public/img/icons/widget_edit.png") 0 0 no-repeat;
    width:10px;
    height:10px;
    text-decoration: none;
}
.widget_edit:hover{
    background:url("/public/img/icons/widget_edit.png") 0 -10px no-repeat;
    border:none;
}

table{
    padding:5px;
    border:#666;
}
td {
    border-left:1px solid #ccc;
    padding:5px 10px;
}
article td.source{
    width:420px;
}
section tr{
    border-bottom: 2px solid #ccc;
}

section table{
    margin-bottom:15px;
}
.region-highlight{
    padding-left:10px;
    margin-right:5px;
    background:#ccc;
    color:#333;
}
.head {
    font-weight:bold;
    background:#ccc;
    color:#333;
}

/* Media */

@media (max-width: 1675px){
    article{
        width:60%;
    }
    aside{
        width:30%;
        max-width:500px;
    }
}

@media (max-width: 1200px) {
    article{
        width:63%;
    }
    aside{
        width:24%;
        max-width:300px;
    }
}

/* At this width, we need to snap the widgets to underneath the article */

@media (max-width: 950px){
    article {
        max-width:700px;
        width:auto;
        float:none;
    }
    aside {
        width:auto;
        display:block;
        max-width:700px;
        font-size:100%;
        margin-bottom:20px;
        padding:30px;
        float:none;
    }
    section {
        padding:0;
        border:none;
        border-top:1px dashed #666;
    }
}

@media (max-width: 700px) {
    header input[type="text"]{
        width:300px;
        height:30px;
    }
}

@media (max-width: 600px) {
    body{
        padding:20px;
    }
    header {
        width:100%;
        position:static;
    }
    menu {
        display:inline-block;
        border:none;
        margin-bottom:20px;

        width:100%;
        height:auto;
        position:static;

        border-bottom:1px dashed #ccc;
        background:none;
    }
    menu a {
        border-bottom:3px solid #ddd;
        padding:2px 0;
        margin:0 20px;
    }
    menu a:hover {
        border-bottom:3px solid #f60;
    }
    menu li {
        border:none;
        margin:5px 0 10px;
        display:inline-block;
    }
    menu li:hover {
        background:none;
    }
    menu ul {
        border:none;
        margin:0;
        padding:0;
        float:left;
    }

    article {
        width:auto;
        margin:10px auto;
        padding:0;
    }
    aside {
        margin: 0;
        padding:0;
    }
    header input[type="text"]{
        height:30px;
    }
    .gfind_logo_min {
        margin-right:10px;
        height:50px;
        width:50px;
    }
}

@media (max-width: 555px) {
    header label {
        display:none;
    }
    header input[type="text"]{
        width:250px;
        height:30px;
    }
}

@media (max-width:465px) {
    .gfind_logo_min {
        display:none;
    }
    header input[type="text"]{
        margin:0 0 5px 0;
    }
    header {
        height:auto;
    }

    menu a {
    }
}

@media (max-width:400px) {
    header input[type="text"]{
        width:96%;
    }
    header input[type="submit"]{

        float:right;
    }
}